rules_version = '2'; service firebase.storage { match /b/{bucket}/o { match /{topSegment}/{restPath=**} { function isSignedIn() { return request.auth != null; } function topFolder() { return topSegment; } function isPromonubeWidgetAsset() { return topFolder() in ['promonube-search-logos', 'promonube-search-suggestions']; } function isGinezaAssets() { return topFolder() == 'gineza'; } function isWinbiz() { return topFolder() == 'winbiz'; } allow read: if !isGinezaAssets(); allow write: if isGinezaAssets() || isPromonubeWidgetAsset() ? false : isWinbiz() ? isSignedIn() : true; } match /eventos/{fileName=**} { allow read: if true; allow write: if request.resource.size < 10 * 1024 * 1024 && request.resource.contentType.matches('image/.*'); } } }